In [ ]:
# Install, if needed
# !pip install --user ipython-sql

# Load the SQL module (ignore the warning)
%load_ext sql

# Create a database in memory
%sql sqlite://

<hr style="height: 3px; margin: 0" />
### 1 A

In [ ]:
%%sql

-- Create the table called 'Writer'
CREATE TABLE Writer (
    FirstName,
    LastName,
    YearOfBirth,
    YearOfDeath
);

<hr style="height: 3px; margin: 0" />
### 1 B

In [ ]:
%%sql

-- Insert the listed rows
INSERT INTO Writer VALUES 
    ('William', 'Shakespeare', null, 1516),
    ('Bertold', 'Brecht', 1898, 1956),
    ('Ernest', 'Hemingway', 1899, 1961),
    ('Oliver', 'Sacks', 1933, 2015), 
    ('Richard', 'Bird', 1943, null),
    ('Hans Petter', 'Langtangen', 1962, null), 
    ('Jan Jacob', 'Slauerhoff', 1898, 1936),
    ('William', 'Burroughs', 1914, 1987), 
    ('Ira', 'Kalet', 1944, null);

<hr style="height: 3px; margin: 0" />
### 1 C

In [ ]:
%%sql

-- Show a list of first names with year of birth
SELECT FirstName, YearOfBirth
FROM Writer;

<hr style="height: 3px; margin: 0" />
### 1 D

In [ ]:
%%sql

-- Try to find writers with first names ending in '...er'
SELECT *
FROM Writer
WHERE FirstName
LIKE '%er';

<hr style="height: 3px; margin: 0" />
### 1 E

In [ ]:
%%sql

-- Find the first name corresponding to the last name 'Shakespeare'
SELECT FirstName
FROM Writer
WHERE LastName = 'Shakespeare';

<hr style="height: 3px; margin: 0" />
### 1 F

In [ ]:
%%sql

-- Select the writers born in the 19th century
SELECT *
FROM Writer
WHERE YearOfBirth >= 1800 AND YearOfBirth < 1901;

<hr style="height: 3px; margin: 0" />
### 1 G

In [ ]:
%%sql

-- Select the writer that weren't born in a year ending in '...4'
SELECT *
FROM Writer
WHERE NOT YearOfBirth LIKE '%4';

<hr style="height: 3px; margin: 0" />
### 1 H

In [ ]:
%%sql

-- Order the writers by year-of-death, omitting the writers still alive
SELECT *
FROM Writer
WHERE NOT YearOfDeath IS NULL
ORDER BY YearOfDeath;

<hr style="height: 3px; margin: 0" />
### 1 I

In [ ]:
%%sql

-- Same as above, but also omit writers with unknown year of birth
SELECT *
FROM Writer
WHERE NOT YearOfDeath IS NULL
AND NOT YearOfBirth IS NULL
ORDER BY YearOfDeath;