In [ ]:
# !pip install --user ipython-sql
%load_ext sql

# Deflate the Chinook database from ZIP
from zipfile import ZipFile
with ZipFile('Chinook.sqlite.zip') as zip:
    zip.extractall()

# Connect to the Chinook database
%sql sqlite:///Chinook.sqlite

<hr style="height: 3px; margin: 0" />
### 1 A

In [ ]:
%%sql

-- How many artists are in the database?
SELECT COUNT(*)
FROM artist;

<hr style="height: 3px; margin: 0" />
### 1 B

In [ ]:
%%sql

-- How many albums are there with ArtistId 22?
SELECT COUNT(*)
FROM album
WHERE ArtistId = 22;

<hr style="height: 3px; margin: 0" />
### 1 C

In [ ]:
%%sql

-- How many genres have 'Rock' in their name?
SELECT COUNT(*)
FROM genre
WHERE Name LIKE '%Rock%';

<hr style="height: 3px; margin: 0" />
### 1 D

In [ ]:
%%sql

-- How many tracks are there with either GenreId = 1 or GenreId = 5?
SELECT COUNT(*)
FROM track
WHERE GenreId = 1 OR GenreId = 5;

<hr style="height: 3px; margin: 0" />
### 1 E

In [ ]:
%%sql

-- What is the average track length in the database?
SELECT AVG(Milliseconds)
FROM track;

<hr style="height: 3px; margin: 0" />
### 1 F

In [ ]:
%%sql

-- Can you express this average length in minutes, instead of milliseconds?
SELECT AVG(Milliseconds) / 60000 As Minutes
FROM track;

<hr style="height: 3px; margin: 0" />
### 1 G

In [ ]:
%%sql

-- What is the number of bytes in the largest track in the 'Blues' genre (GenreId = 6)

SELECT MAX(Bytes)
FROM track
WHERE GenreId = 6;

<hr style="height: 3px; margin: 0" />
### 1 H

In [ ]:
%%sql

-- Can you express this number in Megabytes, for convenience? (1 megabyte is 1048576 bytes)
SELECT MAX(Bytes) / 1048576 AS Megabytes
FROM track
WHERE GenreId = 6;

<hr style="height: 3px; margin: 0" />
### 1 I

In [ ]:
%%sql

-- What would be the total price to buy all tracks of the 'Reggae' genre (GenreId = 8)
SELECT SUM(UnitPrice)
FROM track
WHERE genreId = 8;

<hr style="height: 3px; margin: 0" />
### 1 J

In [ ]:
%%sql

-- What is the Name of the track with the largest number of characters?
SELECT Name
FROM track
ORDER BY LENGTH(Name) DESC
LIMIT 1;