# Introduction to SQL with Python
### Examples without the '%sql' magic

Import the sqlite3 module from the standard library.

In [ ]:
import sqlite3

#### Connecting

In [ ]:
db = sqlite3.connect(':memory:')
cursor = db.cursor()

#### CREATE

We'll start by creating a table 'writer' with 4 columns : <br/>
first name, last name, year of birth and year of death (omitting the column types for now)<br/>

In [ ]:
cursor.execute('''CREATE TABLE writer (first_name, last_name, year_of_birth, year_of_death);''')
db.commit()

#### DROP
We can also drop tables.<br/>
Make sure you know what you're doing!

In [ ]:
cursor.execute('''DROP TABLE writer;''')
db.commit()

Selecting from a non-existing table produces a "no such table" error.

In [ ]:
cursor.execute('''SELECT * FROM writer;''')

In [ ]:
cursor.execute('''CREATE TABLE writer (first_name, last_name, year_of_birth, year_of_death);''')

#### INSERT
Let's insert some data into the table.

In [ ]:
authors = [
    ('William', 'Shakespeare', None, 1516),
    ('Bertold', 'Brecht', 1898, 1956),
    ('Ernest', 'Hemingway', 1899, 1961),
    ('Oliver', 'Sacks', 1933, 2015), 
    ('Richard', 'Bird', 1943, None),
    ('Hans Petter', 'Langtangen', 1962, None), 
    ('Jan Jacob', 'Slauerhoff', 1898, 1936),
    ('William', 'Burroughs', 1914, 1987), 
    ('Ira', 'Kalet', 1944, None)
]

for author in authors:
    cursor.execute('''INSERT INTO writer VALUES (?, ?, ?, ?);''', author)
    
# No output unless there are errors

#### SELECT
Verify the data is indeed in the database

In [ ]:
# Let's define this as a function, so we dan reuse it
def verify():
    for row in cursor.execute("""SELECT * FROM writer;"""):
        print(row)
        
verify()

#### SELECT

__*__ selects alle the columns.<br/>
Specify the column names for a subset.

In [ ]:
for row in cursor.execute("""SELECT first_name, last_name FROM writer;"""):
    print(row)

#### UPDATE
Unfortunately we made a mistake, William Burroughs passed away in 1997, not 1987.<br/>

In [ ]:
cursor.execute("""UPDATE writer 
SET year_of_death = 1997 
WHERE first_name = 'William' 
AND last_name = 'Burroughs';""")

verify()

#### DELETE
It's also possible to delete rows.
We'll start with a single row.

In [ ]:
cursor.execute("""
DELETE FROM writer 
WHERE first_name = 'Ernest' 
AND last_name = 'Hemingway';""")

verify()

Delete multiple rows.

In [ ]:
cursor.execute("""DELETE FROM writer 
WHERE first_name = 'William';""")

verify()

In [ ]:
# Re-insert the deleted rows
authors = [
    ('William', 'Shakespeare', None, 1616),
    ('William', 'Burroughs', 1914, 1997),
    ('Ernest', 'Hemingway', 1899, 1961)
]

for author in authors:
    cursor.execute('''INSERT INTO writer VALUES (?, ?, ?, ?);''', author)

### Simple queries

#### WHERE
Suppose we only want writers with the first name William.

In [ ]:
cursor.execute("""SELECT * 
FROM writer 
WHERE first_name = 'William';""")

for row in cursor.fetchall():
    print(row)

#### AND
Suppose we're not interested in just any William.

In [ ]:
cursor.execute("""SELECT * 
FROM writer 
WHERE first_name = 'William'
AND last_name = 'Shakespeare';""")

for row in cursor.fetchall():
    print(row)

#### OR
What if we want every writer with the first name 'Bertold' or 'Oliver'.

In [ ]:
cursor.execute("""SELECT * 
FROM writer 
WHERE first_name = 'Bertold' 
OR first_name = 'Oliver';""")

for row in cursor.fetchall():
    print(row)

#### IN
When looking for a lot of first names, the query might become very long.

In [ ]:
cursor.execute("""SELECT * 
FROM writer 
WHERE first_name IN ('Bertold', 'Oliver');""")

for row in cursor.fetchall():
    print(row)

#### ORDER
List all the writers, ordered by their first name.

In [ ]:
cursor.execute("""SELECT * 
FROM writer 
ORDER BY first_name ASC;""")  # The default is ASC, in this case optional 

for row in cursor.fetchall():
    print(row)

#### ORDER
Reverse order is also possible with the DESC keyword.

In [ ]:
cursor.execute("""SELECT * 
FROM writer 
ORDER BY first_name DESC;""")

for row in cursor.fetchall():
    print(row)

### More syntax

#### Operators
SQL use the same comparison operators as Python (<, >, =).

In [ ]:
cursor.execute("""SELECT * 
FROM writer 
WHERE year_of_death < 1960;""")

for row in cursor.fetchall():
    print(row)

#### Operators

In [ ]:
cursor.execute("""SELECT * 
FROM writer 
WHERE year_of_death >= 1961;""")

for row in cursor.fetchall():
    print(row)

#### LIKE

Use the LIKE operator in a WHERE clause to search for a specified pattern in a column.<br/>
Use a '%' zero or more characters, '_' for a single character.

In [ ]:
# Search for last names starting with 'slauer' (case-insensitive)
cursor.execute("""SELECT * 
FROM writer 
WHERE last_name LIKE 'slauer%';""")

for row in cursor.fetchall():
    print(row)

#### LIKE

In [ ]:
# Search for last names containing an 'e'
cursor.execute("""SELECT * 
FROM writer 
WHERE last_name LIKE '%e%';""")

for row in cursor.fetchall():
    print(row)

#### NULL
Find all the writers still alive.

In [ ]:
# NULL doesn't work with '='
cursor.execute("""SELECT * 
FROM writer 
WHERE year_of_death = NULL;""")

for row in cursor.fetchall():
    print(row)

#### NULL

In [ ]:
# For NULL 'IS' is needed
cursor.execute("""SELECT * 
FROM writer 
WHERE year_of_death IS NULL;""")

for row in cursor.fetchall():
    print(row)

#### NOT
Find all the writers that didn't die in 1936.

In [ ]:
# Notice the writers writers without a year_of_death are missing
cursor.execute("""SELECT * 
FROM writer 
WHERE year_of_death != 1936;""")

for row in cursor.fetchall():
    print(row)

#### NOT

In [ ]:
# Notice the writers writers without a year_of_death are missing
cursor.execute("""SELECT * 
FROM writer 
WHERE NOT year_of_death IS 1936;""")

for row in cursor.fetchall():
    print(row)

In [ ]:
# Make sure all changes are committed to the database
db.commit()

In [ ]:
# Finally, close the connection
db.close()